.sousTitre
    display: flex
    align-items: center
    gap: 10px
    h6
        color: #6d6d6c
        margin-bottom: 0px
        font-weight: bold

.chef
    background-color: #0b0b09
    color: white
    width: 100%
    height: 800px
    padding: 5%
    h1
        font-family: 'Playfair Display', serif
        color: $ocre
        font-weight: bold

.gridChef
    padding-top: 4%
    display: grid
    grid-template-columns: auto auto auto
    gap: 2%
    div
        width: 100%
        height: 450px

.chef1
    background-image: url("../img/chefs/chefs-1.jpg")
    background-size: cover
    position: relative
    overflow: hidden

.chef1:before 
    content: ''
    display: block
    position: absolute
    height: 0%
    width: 100%
    bottom: 0
    transition: height 0.5s ease-out
    background: linear-gradient(to bottom, transparent 0%, black 100%)

.chef1:hover:before 
    height: 60%


.chef2
    background-image: url("../img/chefs/chefs-2.jpg")
    background-size: cover
    position: relative
    overflow: hidden

.chef2:before 
    content: ''
    display: block
    position: absolute
    height: 0%
    width: 100%
    bottom: 0
    transition: height 0.5s ease-out
    background: linear-gradient(to bottom, transparent 0%, black 100%)

.chef2:hover:before 
    height: 60%

.chef3
    background-image: url("../img/chefs/chefs-3.jpg")
    background-size: cover
    position: relative
    overflow: hidden

.chef3:before 
    content: ''
    display: block
    position: absolute
    height: 0%
    width: 100%
    bottom: 0
    transition: height 0.5s ease-out
    background: linear-gradient(to bottom, transparent 0%, black 100%)

.chef3:hover:before 
    height: 60%

.chefDescription
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        font-family: 'Playfair Display', serif
        transform: translate(0,75%)
        // animation: textApparition linear 1s forwards

.networks
    display: flex
    gap: 5%
    margin-top: 3%
    justify-content: center
    

@keyframes textApparition
    0%
        transform: translate(0,100%)
    100%
        transform: translate(0,75%)

@media (max-width: 1023px)
    .chef
        height: 1100px 
        padding-bottom: 30%
    .gridChef
        grid-template-columns: auto auto