.boxFooter
    background-color: #0d0b09
    padding: 4%
    height: 350px
    width: 100%
    display: flex
    gap: 12%
    a
        text-decoration: none
    a:hover
        color: $ocre !important
    ul 
        padding: 10%
        li
            list-style-type: ">  "
            color: white
            margin-bottom: 10%
        li::marker
            color: $ocre
        li:hover
            color: $ocre
    h4
        color: white
        font-family: 'Playfair Display', serif
    h3
        color: white
        font-weight: 300
        font-family: 'Poppins', sans-serif
    p
        font-family: 'Playfair Display', serif
        color: white
    div i
        margin-right: 5%
        background-color: #27251f
        padding: 8%
        border-radius: 50%
        font-size: 15px

.boxInput
    border: 1px solid #cda45da7
    border-radius: 20px
    width: 75%
    height: 20%
    background-color: #27251f

.btnInput
    border: 1px solid $ocre
    border-radius: 20px
    height: 20%
    background-color: $ocre
    color: white
    z-index: 1
    
input:hover
    background-color: #cda45da7
    color: white

.networksFooter
    display: flex

#news
    font-family: 'Open Sans', sans-serif

.copyright
    background-color: black
    display: flex
    height: 80px
    color: white
    align-items: center
    justify-content: center
    p
        margin: 0

@media (max-width: 767px)
    .boxFooter
        gap: 0%
        height: 400px