.menu
    background-color: #1a1814
    width: 100%
    height: 100%
    padding: 5%
    h1
        font-family: 'Playfair Display', serif
        color: $ocre
        font-weight: bold

.menuBtn
    text-decoration: none
    color: white
    font-family: 'Playfair Display', serif
    border: none
    background-color: #1a1814
    
.menuBtn:hover
    color: $ocre

.menuBtn:active
    color: $ocre

.menuCollapsed
    width: 100%

.dish
    color: white
    display: flex
    margin-bottom: 5%
    width: 50%
    img
        width: 70%
        border-radius: 50%
        border: 5px solid #383737
    span
        color: #6d6d6c

.imgMenu
    width: 15%

.txtMenu
    width: 70%

.prixMenu
    width: 15%
    color: $ocre
    font-weight: bold

.menuTable
    // display: flex
    // flex-direction: row
    width: 100%

#space
    letter-spacing: 1px

#italic
    font-style: italic
    font-size: 15px
    font-weight: 500

@media (max-width: 1439px)
    .menu
        height: 1550px

@media (max-width: 1023px)
    .menu
        height: 1250px
    .tab-pane
        display: none

@media (max-width: 767px)
    #space
        letter-spacing: 0px
        font-size: 10px
    .dish
        flex-wrap: nowrap
    
        